<footer id="copyright">
    <p>CSE 391 (Fall 2015) Final Project</p>

    <% if (locals.host) { %>
    <p>Page served from: <%= host %></p>
    <% } %>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"  type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"  type="text/javascript"></script>
<script src="/javascripts/inputTags.jquery.js"></script>
<script src='/socket.io/socket.io.js'></script>

<script src="/javascripts/facebooklogin.js"></script>
<script src="/javascripts/googlemaps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD88xnNunUuQzRoJAIsvfM0OqRpQ7iqmAw&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>


<!--<script src='/javascripts/misc.js'  type="text/javascript"></script>-->
<% if (locals.restaurant) { %>
<script src='/javascripts/misc_restaurant.js'  type="text/javascript"></script>
<% } else if (locals.user) { %>
<script src='/javascripts/misc_user.js'  type="text/javascript"></script>
<script src="https://js.braintreegateway.com/v2/braintree.js" type="text/javascript"></script>
<script src='/javascripts/submit.js'></script>
<script src='/javascripts/calculateCost.js'></script>
<% } else { %>
<script src='/javascripts/misc.js'  type="text/javascript"></script>
<% } %>
<script src='/javascripts/orders.js'></script>
</body>
</html>
