<% include partials/header  %>


<div class="container" id="help-page">
    <div class="row">
        <div class="col-md-3" id="help-nav-col">
            <ul id="help-nav" class="nav nav-pills nav-stacked">
                <li class="active"><a href="#top">Home</a></li>
                <li><a href="#notes">Notes</a></li>
                <li><a href="#restaurant">Restaurant</a></li>
                <li><a href="#user-o">User - Order</a></li>
                <li><a href="#user-d">User - Deliver</a></li>
                <li><a href="#tech">Technologies</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <h1 id="top">Help Guide</h1>

            <p>Welcome to Delivery Boy! This guide will explain the features of our app and the different use cases.</p>

            <h2 id="notes">Notes</h2>

            <h3>Restaurant Address</h3>
            <p>Restaurant info is linked by address. The address supplied by the restaurant must match exactly with the address the user enters in for the system to match.</p>

            <p>When entering an address, Google Maps will attempt to autocomplete it. We recommend using one of these suggestions to ensure that the format matches.</p>

            <h3>Payment Info</h3>
            <p>Payout info is supplied by the Payment Info box on the dashboard. Payment info is supplied when an order is placed.</p>

            <p>Users ordering pay for their order as soon as it is accepted by the restaurant or delivery person. Restaurants and delivery boy gets paid when the order has been delivered.</p>

            <p>All transactions are currently conducted in a sandboxed development environment of PayPal and Braintree. No money is actually being transferred at this time.</p>

            <h2 id="restaurant">Restaurant</h2>

            <p>Restaurants can sign up on our site and input their menus. All fields are required. Ingredients and tags should be comma separated.</p>

            <p>Whenever a user places an order from the restaurant, the restaurant can accept or decline the order.</p>

            <p>If the order is accepted, the restaurant can choose to make the delivery themselves or publish it for the public to deliver. If the restaurant chooses to deliver themselves, no further action is required until the delivery is made. Otherwise, click the Publish button.</p>

            <p>The user is charged immediately when the order is accepted.</p>

            <p>When the user confirms that the order has been delivered by pressing the delivered button, the restaurant can press the Paid button to receive their payment.</p>

            <h2 id="user-o">User - Order</h2>

            <p>Hungry? Sign up as a user and place an order from any restaurant. All fields are required.</p>

            <p>If the restaurant is registered in our system, users can view the menu and easily add items to their order. Otherwise, the custom Add Item feature lets users add any item they wish.</p>

            <p>If the restaurant is in the system, the order must be accepted by the restaurant. Otherwise it will go directly to the public listing of open orders.</p>

            <p>When the order is delivered, the user should press Delivered on the dashboard.</p>

            <h2 id="user-d">User - Deliver</h2>

            <p>If a restaurant declines to deliver themselves or a restaurant isn't registered in our system, any user can choose to deliver food for another. New public orders appear on the left sidebar.</p>

            <p>Selecting the order will give you details about it, including the cost of the food and how much they're willing to pay as tips (including delivery fees).</p>

            <p>Delivery users will get paid upon delivery of the order.</p>

            <h2 id="tech">Technologies</h2>

            <p>Delivery Boy is built using Node.js, Express.js, Socket.io and MongoDB. It is scalable through the use of multiple virtual server machines, nginx as a load balancer, and MongoDB's sharding and replication features. Socket.io integration across machines is accomplished with Redis.</p>

            <p>Payments are conducted via <a href="https://www.braintreepayments.com/">Braintree</a> (order payment) and <a href="https://www.paypal.com/">PayPal</a> (delivery payout).</p>

            <p>Sales tax info is retrieved from <a href="http://www.taxrates.com/developers/">Avalara</a>.</p>

            <h2 id="about">About</h2>
            <p>Delivery Boy is the final project for CSE 391 (Special Topics - Cloud Computing) of <a href="http://github.com/nkochath">Nikhin Kochath</a>, <a href="http://github.com/JASONews">Xinwen (Jason) Wang</a>, and <a href="http://github.com/yangbrian">Brian Yang</a>.</p>

            <p>Inspired by services like <a href="https://www.seamless.com/">Seamless</a> and <a href="http://ubereats.com/">UberEATS</a>.</p>

            <footer id="copyright">
                <p>CSE 391 (Fall 2015) Final Project</p>

                <% if (locals.host) { %>
                <p>Page served from: <%= host %></p>
                <% } %>
            </footer>

        </div>


    </div>
</div>

<% include partials/footer %>
