<% include partials/header %>



    <!-- Navigation -->


    <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
    <!--    <ul id ="sidebar" class="nav navbar-nav side-nav orders-side">-->

    <!--    </ul>-->
    <!--</div>-->
    <!-- /.navbar-collapse -->

    <!--<div id="page-wrapper">-->
<div class="jumbotron" style="height: 100%;" id="brand">
        <div class="container-fluid text-center" style="position: relative; top: 30%;" >


                <h1>DELIVERYBOY!</h1>
                <p ><a class="btn btn-success btn-lg" href="#" onclick="get_start()" role="button">GET STARTED</a></p>
                <!--<p style='display:inline-block' style='width:100px'><a class="btn btn-success btn-lg" href="/users/login" role="button">Customers</a></p>-->
                <!--<p style='display:inline-block' style = 'width:100px'><a class="btn btn-success btn-lg" href="/restaurants/login" role="button">Restaurants</a></p>-->
            </div>


        </div>
        <!-- /.container-fluid -->

        <!--<footer id="copyright">-->
            <!--<p>CSE 391 (Fall 2015) Final Project</p>-->

            <!--<% if (locals.host) { %>-->
            <!--<p>Page served from: <%= host %></p>-->
            <!--<% } %>-->
        <!--</footer>-->
    </div>
    <div id="fade_left" class="black_overlay fade_block" onclick="cancel_start()">
        <h1 id="fade_text_left" class='fade_text text-center'> <a class="btn-xlg" href="/users/login">Customers</a> </h1>
    </div>
    <div id="fade_right" class="black_overlay fade_block text-center" onclick="cancel_start()">
        <h1 id="fade_text_right" class="fade_text text-center"> <a class="btn-xlg" href="/restaurants/login">Restaurants</a> </h1>
    </div>
        <!--<footer id="copyright">-->
        <!--    <p>CSE 391 (Fall 2015) Final Project</p>-->
        <!--</footer>-->
    <!--</div>-->
    <!-- /#page-wrapper -->



<!-- /#wrapper -->

<% include partials/footer %>
