<% include partials/header %>



    <!-- Navigation -->

    
    <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
    <!--    <ul id ="sidebar" class="nav navbar-nav side-nav orders-side">-->

    <!--    </ul>-->
    <!--</div>-->
    <!-- /.navbar-collapse -->

    <!--<div id="page-wrapper">-->
<div class="jumbotron" style="height: 100%;">
        <div class="container-fluid text-center" style="position: relative; top: 30%;" >


                <h1>DELIVERYBOY!</h1>
                <p ><a class="btn btn-success btn-lg" href="/users/login" role="button">GET START</a></p>
            </div>


        </div>
        <!-- /.container-fluid -->

        <footer id="copyright">
            <p>CSE 391 (Fall 2015) Final Project</p>

            <% if (locals.host) { %>
            <p>Page served from: <%= host %></p>
            <% } %>
        </footer>
    </div>
        <!--<footer id="copyright">-->
        <!--    <p>CSE 391 (Fall 2015) Final Project</p>-->
        <!--</footer>-->
    <!--</div>-->
    <!-- /#page-wrapper -->



<!-- /#wrapper -->

<% include partials/footer %>
