<% include partials/header %>
<!--facebook-->
<% include partials/facebook_login %>


<div class="login_form">
	<form class="form-horizontal" action="/restaurants/login" method="post" >

	  <!--<div class="form-group <%= locals.number_err ? "has-error" : ""  %>">-->
	  <!--  <label for="inputNumber" class="col-sm-offset-1 col-sm-2 control-label">Phone number</label>-->
	  <!--  <div class="col-sm-6">-->
	  <!--    <input type="text" class="form-control" id="inputNumber" name="number" placeholder="Phone number">-->
	  <!--  </div>-->
	  <!--</div>-->
	  <div class='row'>
	  	<h1 id="logo0" class="text-left col-sm-offset-3 col-sm-3"> LOGIN<br>Restaurant</h1>
	  	<h2 id="logo" class="text-left col-sm-offset-0 col-sm-3"> DELIVERY BOY</h2>
	  </div>
	  <div class='row'>

	  <div class="form-group <%= locals.username_err ? "has-error" : ""  %>">
	    <label for="inputRestaurantname" class="col-sm-offset-1 col-sm-2 control-label">Restaurant name</label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" id="inputRestaurantname" name="username" placeholder="Restaurantname" value=<%= locals.username ? locals.username : ""%> >
	    </div>
	  </div>


	  <div class="form-group <%= locals.passwd_err ? "has-error" : ""  %>">
	    <label for="inputPassword" class="col-sm-offset-1 col-sm-2 control-label">Password</label>
	    <div class="col-sm-6">
	      <input type="password" class="form-control" id="inputPassword" name="passwd" placeholder="Password">
	    </div>
	  </div>


	  <!--<div class="form-group">-->
	  <!--  <div class="col-sm-offset-2 col-sm-10">-->
	  <!--    <div class="checkbox">-->
	  <!--      <label>-->
	  <!--        <input type="checkbox"> Remember me-->
	  <!--      </label>-->
	  <!--    </div>-->
	  <!--  </div>-->
	  <!--</div>-->
		  <div class="form-group">
		    <div class="col-sm-offset-3 col-sm-6 button-group">

		      <button type="submit" class="btn btn-primary btn-block">Sign In</button>
		      <button type="button" onclick="location.href='/restaurants/signup';" class="btn btn-primary btn-block">Sign Up</button>
		      <!--<button type="button" onclick="location.href='/users/login';" class="btn btn-primary btn-block">User login</button>-->

		    </div>
		  </div>

	  </div>
	</div>
	</form>
</div>

<% include partials/footer %>
