body {
    font-family: Lato, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#copyright {
    color: #fff;
    padding: 10px 0;
}

.control-label {
    color: black;
}

.button-group {
    display: inline-block;
}

.inline {
    display: inline-block;
}

#logo {
    text-align: right;
}

.open-orders {
    color: #fff;
    padding: 10px;
    border-bottom: 2px solid #666;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    float: none !important;
}

.open-orders:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
}

.orders-side {
    overflow: visible;
}

.popover {
    max-width: 400px;
    width: 400px;
}