#copyright {
    color: #fff;
    padding: 10px 0;
}

.control-label {
    color: black;
}

.button-group {
    display: inline-block;
}

.inline {
    display: inline-block;
}

#logo {
    text-align: right;
}