body {
    font-family: Lato, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    background-color: #80e5ff;
    color: #000;
}

::selection {
    background-color: #80e5ff;
    color: #000;
}

#copyright {
    color: #fff;
    padding: 10px 0;
}

.control-label {
    color: black;
}

.button-group {
    display: inline-block;
}

.inline {
    display: inline-block;
}

#logo {
    text-align: right;
}

.open-orders {
    color: #fff;
    padding: 10px;
    border-bottom: 2px solid #666;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    float: none !important;
}

.open-orders:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
}

.orders-side {
    overflow-x: visible;
}

.open-orders-popover {
    position: fixed;
}

.popover {
    max-width: 400px;
    width: 400px;
}

.inputTags-list {
    border: 1px solid rgba(255, 163, 44, 0.35) !important;
}

.inputTags-list span.inputTags-item {
    background-color: #FFA32C !important;
    
}



.updatebox-buttons {
    text-align: right;
}

.updatebox-buttons > .btn {
    margin:3px;
}

.updatebox {
    padding: 5px;
    alignment-adjust: center;
}

/*.tablecell {*/
/*    overflow: scroll;*/
/*}*/

.black_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: fixed;
	top: 10%;
	left: 25%;
	width: 60%;
	height: 80%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

td > a {
     margin: 3px;
}

.fade_block:hover {
    background-color: orange;
    -moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	
}

.fade_block:hover > h1 > a {
    color: red;
    text-decoration: none;
    -webkit-filter: blur(0px);
    -webkit-transition: font 0.25s ease-in;
    -moz-transition: font 0.25s ease-in;
    -ms-transition: font 0.25s ease-in;
    -o-transition: font 0.25s ease-in;
    transition: font 0.25s ease-in;
}

.fade_block > h1 > a:hover {
    font-size: 50px;
}

.fade_block > h1 > a {
    -webkit-filter: blur(1px);
}

.fade_block > h1 > a {
    color: gray;
    text-decoration: none;
}

.blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
   -o-filter: blur(3px);
   -ms-filter: blur(3px);
   filter: blur(3px);
}

.fade_block {
    width: 50%;
    background-color: black;
    vertical-align: middle;
    -moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
}

#fade_left {
    left: 0%;
}

#fade_right {
    left: 50%;
}

.fade_text {
    position: relative;
    top: 50%;
}

#fade_text_left {
    /*left: 20%;*/
}

#fade_text_right {
    /*right: 20%;*/
}

.btn-xlg {
    padding: 18px 28px;
    font-size: 30px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-width: 0;
    -webkit-border-width: 0;
    -moz-border-width: 0;
}

.panel_list {
   max-height: 600px;
   overflow-y: scroll;
   bottom: 30px;
}

.login_form {
    position: relative;
    top: 25%;
}

.signup_form {
    position: relative;
    top: 10%;
}

.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.popover-menu-table tr:hover {
    cursor: pointer;
}

input[type=radio] {
    margin: 0 5px;
}

.order-submit-buttons {
    text-align: center;
}

#total-cost-group {
    font-size: 1.5em;
}

.new-order-entry:hover {
    cursor: pointer;
}

#table-new-orders .tooltip {
    width: 100px;
}

#table-new-orders .delete {
    background-color: #ffb3b3;
}

#custom-tip {
    width: 40px;
}

.control-label.no-top-padding {
    padding-top: 0;
}

#tax-loader {
    width: 20px;
    height: 20px;
    margin: 0;
}
